
.logo {background-color: rgb(69, 69, 71);}
.grey {background-color: gray;}
.content {
    background-color: rgb(42, 127, 133);
}
.brown {background-color: rgb(102, 74, 74);}
.h50 {height: 50px;}
.h100 {height: 100px;}
.h150 {height: 150px;}


.col-auto{
    margin-top: 15px;
    margin-left: 15px;
}

.carousel-item{
    height: 32rem;
    background: #777;
}
